@{
    ViewData["Title"] = "AboutUs";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Catagolue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 style="text-align:center;font-family: 'Playfair Display', serif;">About BamBoo Soft</h2>
        <img src="~/img/AboutUs_Main.jpg" style="width:1080px;height:680px;" />
    </header>
    <main>
        <p>BamBoo SoftToothbrush, Inc., (formerly, John O. Butler Company) is a member of the Bamboo Soft of companies, a global organization headquartered in Switzerland that serves oral health care professionals and consumers in 90 countries around the world. BamBoo Soft’s mission is to enhance the health and well-being of people everywhere via its four business areas: mouth and body, health and beauty, healthy home, safety and technology.</p>

        <hr />

        <h3>Early Brand History</h3>

        <p>We have always had a commitment to dentistry and to good oral health care both for the dental professional and the consumer. We have a history of excellent oral care products around the world.</p>

        <p>Since our founding in 1923, BamBoo Soft Americas, Inc. has been a respected leader in the design, manufacture and distribution of breakthrough oral health care products of the highest quality. We continue to take an active role in the worldwide advancement of oral health and dental care, including:
            <ul>
                <li>Educating dental professionals about the link between oral and systemic health</li>
                <li>Sponsoring and supporting the work of professional organizations</li>
                <li>Investing in research and development of clinically superior dental care products</li>
            </ul>
        </p>
    </main>
</body>
</html>
